//importing media query responsive min
@import "cumber-masterstyle";

//importing base styles
@import "cumber_base_styles";

//importing carouselHeader
@import "carouselHeader";

.main_wrapper { 
	display: block;
	background-color: #333;
	font-family: 'Open Sans', sans-serif;
	width: 100%; 
	margin: 0 auto;
	color: $blackText;
	overflow-y: scroll;
	height: 100vh;
	position: relative;
	  overscroll-behavior: contain;
}

.header-top-nav { 
	display: block;
	width: 100%;
	position: -webkit-sticky;
	position: sticky; //KEEP THIS STICKY TOP NAV
	top: 0;
	background: #000;
	z-index: 99;
	height: 4.4rem;

		@include responsivemin($iPad_iPadMini-Port, $height){
			height: 6.0rem;
		}
		@include responsivemin($iPad_iPadMini-Land-Desktop, $height){
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}

		.nav-sec {
			text-align:center;
			display:block;
			width: 100%;
		
			ul {
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				justify-content: space-around;
			}

			a {
				display: table;
				line-height: 2.4;
			}
		
			a li {
				color: $white;
				display:table-cell;
				vertical-align: middle;
				font-size: 1.6rem;
				cursor:pointer;
		
				&:hover {
					color: rgba(0,244,255,0.7)!important;
					// color: rgb(11,184,192);
					// color: #0bb8c0;
				}
			
				@include responsivemin($GalaxySIII, $height){
					font-size: 1.8rem;
					margin: 0px 5px;
				}
				@include responsivemin($iPad_iPadMini-Port, $height){
					font-size: 2.5rem;
				}
			}
		}
		//end of TOP NAV SECTION
}



// THIS IS THE YELLOW BAR WITH ICONS
.albumdrop-icons {
	display: flex;
	vertical-align: top;
	// background: #ffb100;
	// background:#ffe200;
	background-color: rgba(255,255,255,0.5);
	padding: 1rem;
	position: relative;
	top: 0rem;
	left: 0;
	width: 100%;
	height: 5.4rem;
	justify-content: space-between;
	line-height: 1.5;
	z-index:8;

	@include responsivemin($iPad_iPadMini-Port, $height){
		height: 6.0rem;
	}

	h2 {
		color: #222;
		// color: #FFFFFF;
		font-weight: 700;
		font-style: italic;
		display: inline-block;
		vertical-align: top;
		margin-right: 2rem;
		font-size: 1.6rem;
		line-height: 1.4;

		@include responsivemin($GalaxySIII, $height){
			font-size: 2rem;
			line-height: 1.2;
			margin-right: 1rem;
			letter-spacing: -0.5px;
		}
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 2.6rem;
			line-height: 1.6;
			margin-left: 3rem;
		}
	}

	.store-icons {
		display: inline-block;
		vertical-align: top;

		@include responsivemin($iPad_iPadMini-Port, $height){
			margin-right: 2rem;
		}
		
		a {
			cursor: pointer;
			margin: 0 .5rem 0 0 !important;
			display: inline-block;
			vertical-align: top;

			@include responsivemin($iPhone-6-8-Port, $height){
				margin: 0 .8rem 0 0 !important;
			}
			@include responsivemin($iPhone-6-8-PlusPort, $height){
				margin: 0 1rem 0 0 !important;
			}
		}

		a:hover i {
			color: #27a2fc;
			color: red;
		}

		a:active {
			color: #2737fc;
			color: lime;
		}

		i {
			color: #333;
			font-size: 2rem;

			@include responsivemin($GalaxySIII, $height){
				font-size: 2.5rem;
			}
			@include responsivemin($iPad_iPadMini-Port, $height){
				font-size: 2.6rem;
				line-height: 1.6;
			}
		}

		.appLogo {
			background-repeat:no-repeat;
			background-position: center;
			background-size: contain;
			width: 2.4rem;
			height: 2.4rem;

			@include responsivemin($GalaxySIII, $height){
				width: 3rem;
				height: 3rem;
				margin-top: -0.3rem;
			}

			@include responsivemin($iPad_iPadMini-Port, $height){
				width: 3.9rem;
				height: 3.9rem;
				margin-top: 0.2rem;
			}
		}

		.iTunesApp-logo {
			background-image:url(..//cumber_images/iTunesAppLogo.png );
		}
		.iTunesApp-logo:hover {
			background-image:url(..//cumber_images/iTunesAppLogo-hover.png );
		}

		.audiomackApp-logo {
			background-image:url(..//cumber_images/audiomackAppLogo.png );
		}
		.audiomackApp-logo:hover {
			background-image:url(..//cumber_images/audiomackAppLogo-hover.png );
		}

		.amazonApp-logo {
			background-image:url(..//cumber_images/amazonAppLogo.png );
		}
		.amazonApp-logo:hover {
			background-image:url(..//cumber_images/amazonAppLogo-hover.png );
		}

		.spotify-logo {
			background-image:url(..//cumber_images/spotifyApp.png);
		}
		.spotify-logo:hover {
			background-image:url(..//cumber_images/spotifyApp-hover.png);
		}
	}
}

.section-header {
    display: block;
	width: 100%;
	height: 4.0rem;
	text-align: center;
	background: #00515c;

	@include responsivemin($iPad_iPadMini-Port, $height){
		height: 6.0rem;
	}

	.spacer {
		height: 4.0rem;
		display:inline-block;
		vertical-align: middle;

		@include responsivemin($iPad_iPadMini-Port, $height){
			height: 6.0rem;
		}
	}

	h2 {
		color: #ffffff;
		// color: #222;
		display: inline-block;
		vertical-align: middle;
	}
}

.section-content {
	padding: 2.0rem;
	background-color: #000000;

	@include responsivemin($iPad_iPadMini-Port, $height){
		padding: 4.0rem;
	}
	@include responsivemin($Nexus7_land_960w, $height){
		padding: 6.0rem;
	}
}


// THIS IS HIDDEN RIGHT NOW, AS I PUT IN CAROUSEL 
.home-top-image-section-new {
	text-align: center;
	// display: block;
	display: none;
	position:relative;
	height: 100vh;
	width: 100%;

	// keep this in case we go back to original image;
	// background-image: url(..//cumber_images/cumberBlueJacket-final.jpg); 
	// background-image: url(..//cumber_images/new-website-background-BREAKTHROUGH.jpg);
	
	// background-image: url(..//cumber_images/new-website-background-Kayamata.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: top;
    padding: 0;
	margin: 0;
	
	@include responsivemin($iPad_iPadMini-Port, $height){
		// background-image: url(..//cumber_images/KAYAMATA-websiteHome.jpg);

	}

	h1 {
		display: none;
	}

	.helper {
		display: inline-block;
		vertical-align: middle;
		height: calc(100vh-200px);
	}
}
// look up, it's on DISPLAY: NONE! 


.cumber-gold-logo {
	background: url(..//cumber_images/Cumber-tha-Cypher-logo-gold.png);
	background-size: contain;
    background-position: center top;
    width: 100%;
    vertical-align: bottom;
    display: inline-block;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	padding: 20px;
	height: 22rem;
	bottom: 3rem;
}


.breakthrough-logo {
	background: url(..//cumber_images/breakthrough-text-for-Web-1line-b.png);
	background-size: cover;
    background-position: center top;
    width: 100%;
    height: 10rem;
    vertical-align: bottom;
    display: inline-block;
	background-repeat: no-repeat;
	position: absolute;
    bottom: 1rem;
	left: 0;
	
	@include responsivemin($GalaxySIII, $height){
		height: 11rem;
		bottom: 3rem;
	}
	
	@include responsivemin($iPhone-6-8-Port, $height){
		height: 12rem;
		bottom: 4rem;
	}
	@include responsivemin($iPhone-6-8-PlusPort, $height){
		height: 13rem;
		bottom: 4rem;
	}
	@include responsivemin($iPhone-4-Land, $height){
	    height: 7rem;
    	bottom: 0rem;
    	background-size: contain;
	}
	@include responsivemin($Nexus7-Port, $height){
		height: 16rem;
		background-size: cover;
		bottom: 4rem;
	}
	@include responsivemin($GalaxyNmore-Land, $height){
		height: 7rem;
		background-size: contain;
		bottom: 0rem;
	}
	@include responsivemin($iPad_iPadMini-Port, $height){
		height: 20rem;
		background-size: cover;
		bottom: 4rem;
	}
	@include responsivemin($KindleFirePortrait800, $height){
		height: 22rem;
		background-size: cover;
		bottom: 1rem;
	}
	@include responsivemin($iPhoneXland812, $height){
		height: 9rem;
		background-size: contain;
		bottom: 0rem;
	}
	@include responsivemin($Nexus7_land_960w, $height){
		height: 13rem;
		background-size: contain;
		bottom: 2rem;
	}
	@include responsivemin($iPad_iPadMini-Land-Desktop, $height){
	    height: 16rem;
    	bottom: 4rem;
	}
	// 1024 x 1366px = iPad Pro PORTRAIT
	@media (min-width: 1024px) and (min-height: $iPadProPortrait) {
		height: 29rem;
		bottom: 6rem;
		background-size: cover;
	}

	@include responsivemin($laptopTouch_1280, $height){
		height: 20rem;
		bottom: 4rem;
		background-size: contain;
	}
	@include responsivemin($Wide-Desktop, $height){
		height: 28rem;
		bottom: 1rem;
	}
	@include responsivemin($ExtraLarge-Desktop, $height){
		height: 22rem;
		bottom: 3rem;
		background-size: contain;
	}
}


.music-section {
	background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0.3), rgba(0,0,0,0.7)),url(..//cumber_images/cumberBlueJacket1-rev-orig2.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
    background-position-y: top;

	.section-content.music-content {
		width: 100%;
		display: block;
		// background-color: transparent;
		padding: 0rem;
	}

	#nowPlay h2 {
		font-size: 3.5rem; 

		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 5rem;
		}
	}
}

.events-stuff {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content:  space-between;
	flex-direction: row;
	flex-wrap: wrap;

	.event-img-holder {
		width: 100%;
		display: inline-block;
		height: auto;

		@include responsivemin($iPhone-6-8PLUS-Land, $height){
			width: 48.5%;
		}
	}
	.margin-bottom-class {
		margin-bottom: 2rem;

		@include responsivemin($iPhone-6-8PLUS-Land, $height){
			margin-bottom: 0rem;
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
}

.gallery-section {
	text-align: center;
	width: 100%;
	display: block;
	
	.gallery-content {
		width: 100%;
		display: block;
		padding: 4rem 2rem 2rem;

		@include responsivemin($iPhone-6-8-Port, $height){
			padding: 4rem 4rem 0;
		}
	
		@include responsivemin($laptopTouch_1280, $height){
			padding: 6rem 6rem 0;
		}
		@include responsivemin($Wide-Desktop, $height){
			padding: 10rem 8rem 0;
		}
		@include responsivemin($ExtraLarge-Desktop, $height){
			padding: 12rem 12rem 0;
		}

		.video-wrapper1, .video-wrapper2 {
			text-align: center;
		}

		.new-youtube-wrapper {
			display: block;
		}

		.video-wrapper1, .video-wrapper2 {
			display: block;
			margin: 0 0rem 2rem 0rem;

			@include responsivemin($iPhone-6-8-Port, $height){
				margin: 0 0rem 4rem 0rem;
			}
			@include responsivemin($Nexus7-Port, $height){
			 
			}
			@include responsivemin($laptopTouch_1280, $height){
				margin: 0 0rem 6rem 0rem;
			}
			@include responsivemin($Wide-Desktop, $height){
				margin: 0 0rem 8rem 0rem;
			}
			@include responsivemin($ExtraLarge-Desktop, $height){
				margin: 0 0rem 12rem 0rem;
			}
		}

		.video-wrapper1 a, .video-wrapper2 a {
			width: 100%;
			height: calc((9/16) * 100vw);
			min-height: 360px;
			max-height: calc(100vh - 169px);

			@include responsivemin($Nexus7-Port, $height){
				min-height: 480px;
		   }
		}

		iframe {
			width: 100%;
			height: calc((9/16) * 100vw);
			min-height: 360px;
			max-height: calc(100vh - 169px);

			@include responsivemin($Nexus7-Port, $height){
				 min-height: 480px;
			}
		}

		h2 {
			color: #fff;
			font-size: 1.4rem;
			line-height: 1.4;

			@include responsivemin($iPhone-6-8-Port, $height){
				font-size: 1.6rem;
				line-height: 1.5;
			}
			@include responsivemin($Nexus7-Port, $height){
				font-size: 1.8rem;
				line-height: 2;
			}
			@include responsivemin($iPad_iPadMini-Port, $height){
				font-size: 2rem;
				line-height: 2.5;
			}
			@include responsivemin($laptopTouch_1280, $height){
				font-size: 2.2rem;
				line-height: 3.2;
			}
			@include responsivemin($Wide-Desktop, $height){
				font-size: 2.4rem;
				line-height: 3.4;
			}
		}

		.photo-gallery-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-content:  space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.gallery-img {
			display: inline-block;
			color: white;
			text-align: center;
			overflow: hidden;
			align-items: center;
			width: 100%;
			height: auto;
			margin-bottom: 2rem;

			@include responsivemin($iPhone-6-8-Port, $height){
				margin-bottom: 4rem;
			}
			@include responsivemin($Nexus7-Port, $height){
				width: 170px;
				height: 170px;
			}
			@include responsivemin($iPhone-6-8PLUS-Land, $height){
				width: 190px;
				height: 190px;
			}
			@include responsivemin($iPad_iPadMini-Port, $height){
				width: 200px;
				height: 200px;
			}
			@include responsivemin($KindleFirePortrait800, $height){
				width: 210px;
				height: 210px;
			}
			@include responsivemin($Nexus7_land_960w, $height){
				width: 265px;
				height: 265px;
			}
			@include responsivemin($iPad_iPadMini-Land-Desktop, $height){ 
				width: 290px;
				height: 290px;
			}
			@include responsivemin($laptopTouch_1280, $height){
				width: 345px;
				height: 345px;
				margin-bottom:6rem;
			}
			@include responsivemin($Wide-Desktop, $height){
				width: 370px;
				height: 370px;
				margin-bottom: 8rem;
			}
			@include responsivemin($ExtraLarge-Desktop, $height){
				width: 510px;
				height: 510px;
				margin-bottom: 12rem;
			}

			img {
				height: 100%;
				width: 100%;
			}
		}
	}
}

.about-section {
	position: relative;

	.section-content.about-content-image { 
		position: relative;
		display: block;
		width: 100%;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), 
						url("..//cumber_images/cumberBlueJacket-bio-final.jpg");
		background-repeat:no-repeat;
		background-size: cover;
		padding: 0;

		@include responsivemin($Nexus7_land_960w, $height){
			background-image:none;
			background-position-x: right;
			background-position-y: top;
			vertical-align: top;
		}
		@include responsivemin($Wide-Desktop, $height){
			height: 118rem;
		}
		@include responsivemin($ExtraLarge-Desktop, $height){
			height: 120rem;
		}
	}

	.about-bio-text {
		padding: 3rem 2rem;

		@include responsivemin($iPad_iPadMini-Port, $height){
			bottom: 0rem;
			padding: 4rem;
		}
		@include responsivemin($Nexus7_land_960w, $height){
			position: relative;
			background-image:none;
			background: #000;
			width: 50%;
			height: 100%;
			display: inline-block;
			top: 0rem;
			bottom: initial;
			z-index: 2;
		}
		@include responsivemin($iPad_iPadMini-Land-Desktop, $height){
			padding: 5rem;
		}
		@include responsivemin($Wide-Desktop, $height){
			padding: 5rem;
		}
		@include responsivemin($ExtraLarge-Desktop, $height){
			padding: 11rem 9rem;
		}

		p {
			text-indent: 2rem;
			color: #ffffff;
			font-weight: 400;
			font-size: 1.4rem;
			padding-bottom: 0.5rem;
			line-height: 1.21;

			@include responsivemin($Sm320width, $height){
				font-size: 1.5rem;
				line-height: 1.3;
			}
			@include responsivemin($iPad_iPadMini-Port, $height){
				font-size: 1.6rem;
			}
			@include responsivemin($laptopTouch_1280, $height){
				font-size: 1.8rem;
				line-height: 1.5;
			}
			@include responsivemin($Wide-Desktop, $height){
				font-size: 2.0rem;
				padding-bottom: 1.2rem;
			}
			@include responsivemin($ExtraLarge-Desktop, $height){
				font-size: 2.2rem;
			}
		}
	}
	
	.bio-image-wide {
		display: none;

		@include responsivemin($Nexus7_land_960w, $height){
			display: inline-block;
			width: 50%;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url("..//cumber_images/cumberBlueJacket-bio-final.jpg");
			background-position-x: 0;
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			right: 0;
			top: 0rem;
			height: 100%;
		}
	}
}

.contact-section {
	text-align: center;
	
	.social-media {
		width: 90%;
		margin: 0 auto;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include responsivemin($iPad_iPadMini-Port, $height){
			width: 80%;
		}
		@include responsivemin($laptopTouch_1280, $height){
			width: 40%;
		}

	}
	.each-icon {
		display:inline-block;
		vertical-align: top;
		padding: 2.0rem 0;
	
		i {
			color:#FFFFFF;
			font-size: 4rem;

			@include responsivemin($iPad_iPadMini-Port, $height){
				font-size: 5rem;
			}
			
			&:hover {
				// color: rgba(0,244,255,0.7)!important;
				color: #00b8be !important;
			}
			&:focus, &:active {
				color: #00aab2;
			}
		}
	}
}

footer {
	display: table;
	width: 100%;
	text-align: center;
	padding: 2rem 0;

	@include responsivemin($iPad_iPadMini-Port, $height){
		padding: 3rem 0 4rem;
	}

	img {
		width: 70%;
		margin: 0 auto;
		padding: 2.0rem 0 0rem;

		@include responsivemin($GalaxySIII, $height){
			width: 80%;
		}
		@include responsivemin($iPhone-4-Land, $height){
			width: 40%;
		}
		@include responsivemin($iPad_iPadMini-Port, $height){
			width: 60%;
		}
		@include responsivemin($iPad_iPadMini-Land-Desktop, $height) {
			width:50%;
		}
		@include responsivemin($laptopTouch_1280, $height) {
			width: 35%;
		}
		@include responsivemin($ExtraLarge-Desktop, $height){
			width: 30%;
		}
	}

	p, a {
		font-size: 1.2rem;
		color: #FFF;

		@include responsivemin($GalaxySIII, $height){
			font-size: 1.3rem;
		}
		@include responsivemin($KindleFirePortrait800, $height) {
			font-size: 1.3rem;
		}	
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 1.8rem;
		}
	}
	a {
		// color: #0094a9 !important;
		color: #00b8be !important;
		
		font-weight: bold;
		cursor: pointer;
	}
	a:hover {
		// color: #00818e !important;
		// color: #00515c !important;
		color: #007f83 !important;
	}

	.borneid {
		font-size: 1.3rem;
		font-weight: regular;

		@include responsivemin($GalaxySIII, $height){
			font-size: 1.5rem;
		}
		@include responsivemin($KindleFirePortrait800, $height) {
			font-size: 1.8rem;
		}	
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 2rem;
		}
	}
	.borneid a {
		color: rgba(0,244,255,0.7) !important;
		font-size: 1.3rem;

		@include responsivemin($GalaxySIII, $height){
			font-size: 1.5rem;
		}
		@include responsivemin($KindleFirePortrait800, $height) {
			font-size: 1.8rem;
		}	
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 2rem;
		}
	}
	.borneid a:hover {
		color: #00818e !important;
	}

	.email-height {
		display: block;
		margin-bottom: 2rem;
	}
	.email-height a {
		font-size: 1.6rem;

		@include responsivemin($KindleFirePortrait800, $height) {
			font-size: 2rem;
		}	
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 2.2rem;
		}
	}
	h4 {
		color: #FFF;
		font-size: 1.6rem;
		font-weight: bold;
		margin-top: 2rem;
		
		@include responsivemin($KindleFirePortrait800, $height) {
			font-size: 2rem;
		}	
		@include responsivemin($iPad_iPadMini-Port, $height){
			font-size: 2.2rem;
		}
	}
}
